MONGODB_URI=mongodb+srv://USUARIO:SENHA@cluster.mongodb.net/convite?retryWrites=true&w=majority
NEXTAUTH_SECRET=sua-chave-secreta-aqui
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAIL=admin@convite.com
ADMIN_PASSWORD=sua-senha-admin
